.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a.active:focus,
.navbar-default .navbar-nav>li>a.active:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar {
  margin-bottom: 0!important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 9999999;
  background-color: transparent;
  border: 0;
  a {
    color: #ffffff;
  }
}
