.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a.active:focus,
.navbar-default .navbar-nav>li>a.active:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar {
  margin-bottom: 0!important;
  position: absolute!important;
  top: 0!important;
  left: 0;
  right: 0;
  height: 50px!important;
  z-index: 9999999!important;
  background-color: transparent!important;
  border: 0!important;
  border-radius: 0!important;
  a {
    color: #ffffff!important;
  }
}

.logo {
  height: 32px;
  float: left;
  margin-top: -6px;
  margin-right: 2px;
}

.bodyLogin,
.bodySignup,
.bodySub,
.bodyRecover {
  .navbar {
    position: fixed!important;
    background-color: $purple!important;
    .active a {
      background-color: darken($purple, 15%)!important;
    }
  }
}
