#app-illustrations {
  pointer-events: none;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  width: 1287px;
  left: 50%;
  margin-left: -644px;
  transform: scale(.5) rotate(-12deg) translateX(50px);
  transform-origin: 50% 20%
}

#app-illustrations.hidden-preload {
  visibility: hidden
}

#app-illustrations div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 38px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 2px 6px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05)
}

#app-illustrations .tablet-landscape {
  width: 512px;
  height: 352px;
  margin: 115px 50px 0
}

#app-illustrations .phone-big {
  display: none
}

#app-illustrations .phone-small {
  -ms-flex-order: -1;
  order: -1;
  width: 225px;
  height: 467px
}

#app-illustrations .tablet-portrait {
  width: 450px;
  height: 675px;
  margin-top: 115px
}

@media (min-width:670px) {
  #app-illustrations {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 512px;
    margin-left: -50px;
    top: 215px;
    transform: rotate(-12deg);
    transform-origin: 100% 0
  }
  #app-illustrations.hidden-preload {
    visibility: visible
  }
  #app-illustrations [class^=tablet] {
    margin: 0
  }
  #app-illustrations .tablet-landscape {
    width: 512px;
    height: 352px
  }
  #app-illustrations .phone-small {
    width: 225px;
    height: 467px;
    margin: 0 0 50px 176px
  }
  #app-illustrations .tablet-portrait {
    display: none
  }
}//

@media (min-width:880px) {
  #app-illustrations {
    width: 829px;
    margin-left: -10px;
    top: 20px
  }
  #app-illustrations .tablet-landscape {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 50px
  }
  #app-illustrations .phone-big {
    display: -ms-flexbox;
    display: flex;
    width: 267px;
    height: 553px
  }
  #app-illustrations .phone-small {
    -ms-flex-order: 0;
    order: 0;
    margin: 50px 50px 0 0
  }
  #app-illustrations .tablet-portrait {
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    height: 675px;
    margin-top: 50px
  }
}