.video-position {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  /* top: 50%; */
  right: 0;
  width: 43%;
}

.st0 {
  fill: #B9F4BC;
}

.st1 {
  fill: #F7434C;
}

.st2 {
  fill: #DB2E37;
}

.st3 {
  fill: #FFDB57;
}

.st4 {
  fill: #F5BA3D;
}

.st5 {
  fill: #EF9325;
}
